<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/students/new}" >Create Student <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">list</a>
            </li>


        </ul>

    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card-bootstrap">
            <h1 class="text-center">
                create new student
            </h1>
            <div class="card-body">
                <form th:action="@{/students}" th:object="${student}" method="post">
                    <div class="form-group">
                        <label>student first name</label>
                        <input
                        type="text"
                        name="firstName"
                        th:field="*{firstName}"
                        placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label>student last name</label>
                        <input
                                type="text"
                                name="lastName"
                                th:field="*{lastName}"
                                placeholder="Enter your last name">
                    </div><div class="form-group">
                    <label>student email</label>
                    <input
                            type="email"
                            name="email"
                            th:field="*{email}"
                            placeholder="Enter your email">
                </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>