<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student management system: studentlist</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<!--jjf-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/students/new}" >Create Student <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">list</a>
            </li>


        </ul>

    </div>
</nav>

<!--kjnfnfvhvxnjvfhvfmjjvfhjdfvdfghhjdhmvdfhb hmhdfvgvhjf-->
<div class="container">
  <div class="row">
    <h1>List of Students</h1>
    <div class="row">
      <div class="col-lg-3">
        <a th:href = "@{/students/new}" class="btn btn-primary btn-sm-mb-3">Add Student</a>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
      <tr>
      <th>student first name</th>
      <th>student last name</th>
      <th>student email</th>
      <th>actions</th>
      </tr>

      </thead>
      <tbody>
      <tr th:each = "student: ${students}">
  <td th:text = "${student.firstName}"></td>
        <td th:text = "${student.lastName}"></td>
        <td th:text = "${student.email}"></td>
          <td>
              <a th:href="@{/students/edit/{id} (id=${student.id})}" class="btn btn-primary">
            update
              </a>
              <a th:href="@{/students/{id} (id=${student.id})}" class="btn btn-danger">
                  delete
              </a>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>